body{
    background-image: url("../imagees/fon.jpg");
}

/*шапка*/
header{
    margin-left: -8px;
    top: 0;
    display: flex;
    justify-content: space-around;
    position: fixed;
    background: #8d0101;
    width: 100%;
    height: 90px;
}

h1{
    margin-top: 12px;
    padding-left: 135px;
    width: 100%;
    color: white;
    font-size: 50px;
}

h2{
    color: red;
    margin-top: -90px;
    padding-left: 40px;
    font-size: 60px;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    left: 20px;
    position: fixed;
    top: 10px;
}

.padval {
    /*position: fixed;*/
    bottom: 0;
    color: #fff; /* Цвет текста */
    padding: 1px; /* Отступы вокруг текста */
    clear: left; /* Отменяем действие float */
}

.contact{
    color: white;
    padding-right: -70px;
    padding-left: 70px;
    margin-top: 67px;
    width: 500px;
}

li{
    color: white;
    font-size: 30px;
    padding-left: 50px;
    line-height: 3.5;
}

.music{
    padding-left: 1100px;
    margin-top: 110px;
}

.fl_studio{
    font-size: 15px;
    color: white;
    padding-left: 100px;
}